<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>web</mat-icon>
            Scrume
        </mat-card-title>
        <mat-card-subtitle>Enlaces a nuestra aplicación desarrollada en cada sprint</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <img alt="" src="../../assets/version.webp">
        <br>
        <p>Sprint 1: <a href="https://scrume-brand.herokuapp.com" target="_blank" rel="noopener noreferrer">Scrume v1</a></p>
        <p>Sprint 2: <a href="https://scrume-app-s2.herokuapp.com/" target="_blank" rel="noopener noreferrer">Scrume v2</a></p>
        <p>Sprint 3: <a href="https://scrume-app-s3.herokuapp.com/" target="_blank" rel="noopener noreferrer">Scrume v3</a></p>
        <p>Sprint 4: <a href="https://scrume-app-s4.herokuapp.com/" target="_blank" rel="noopener noreferrer">Scrume v4</a></p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>wb_incandescent</mat-icon>
            Nuestra idea
        </mat-card-title>
        <mat-card-subtitle>La aplicación del presente, que marcará tu futuro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Scrume es una herramienta con la cuál puedes aplicar la metodología Scrum a un proyecto informático de una forma completa, sencilla y asistida.</p>
        <p>Aquí podras mantener el ritmo que impone la metodología ágil sin perder nada de la documentación que Scrum genera en el transcurso de los Sprints.</p>

        <img alt="" src="../../assets/MapaConceptual.webp">

        <p>Tablero Kanban, lista de tareas automatizadas, recordatorios de los procesos de Scrum, vinculación con Git.</p>
        <p>Con Scrume tendrás el poder de un Scrum Master en tu mano.</p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://es.wikipedia.org/wiki/Scrum_(desarrollo_de_software)" >
            <mat-icon>help_outline</mat-icon>
            <span>¿Qué es Scrum?</span>
        </a>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>border_all</mat-icon>DAFO</mat-card-title>
        <mat-card-subtitle>Nos sinceramos contigo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Como en todas las empresas, en Scrume tenemos muy claros cuáles son nuestros límites y nuestras oportunidades</p>
        <img alt="" src="../../assets/dafo.webp"/>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>accessibility</mat-icon>Clientes</mat-card-title>
        <mat-card-subtitle>Sin ti, no somos nada</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>En Scrume tenemos muy presente a nuestros clientes y tenemos planes personalizados para los colectivos que más lo necesitan.</p>
        <img alt="" src="../../assets/student.webp"/>
        <img alt="" src="../../assets/company.webp"/>
        <img alt="" src="../../assets/proffesor.webp"/>
        <p>Podemos diferenciar tres tipos de clientes, los alumnos, es decir, los futuros profesionales; los profesionales del sector  y el sector educativo.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>monetization_on</mat-icon>Precios</mat-card-title>
        <mat-card-subtitle>Nos adaptamos a ti en todo momento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img alt="" src="../../assets/Precios.webp"/>
        <p>Plan Basic - Un plan de prueba en el cual podrás llevar a cabo un sprint con un tablero.</p>
        <p>Plan Standard - Con este plan podrás generar hasta 3 proyectos con sus respectivos tableros durante los sprints necesarios.</p>
        <p>Plan Complete - Todas nuestras funcionalidades para sacar el máximo rendimiento a tus equipos.</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>perm_identity</mat-icon>Contacto</mat-card-title>
        <mat-card-subtitle>Estamos a tu disposición</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img alt="" src="../../assets/contact.webp"/>
        <p>Si tienes alguna sugerencia, duda o simplemente aportar tu granito de arena... Nos puedes encontrar en</p>
        <div>
        <mat-icon>public</mat-icon> Twitter: <a href="https://twitter.com/_Scrume_" target="blank">@_Scrume_</a>
        </div>
        <mat-icon>email</mat-icon> Email: scrumme.corporation@gmail.com
    </mat-card-content>
</mat-card>


