<div id="main-sprint">
    <section id="header-sprint">
        <div>
          <h3><a (click)="openTeam(sprint.project.team.id)">{{sprint.project.team.name}}</a> > <a (click)="openProject(sprint.project.id)">{{sprint.project.name}}</a> > Sprint</h3>
        </div>
      </section>
      <section id="progress-sprint">
          <button id="edit-sprint" mat-button (click)="openDialog()">
              Editar
            </button>
        <table id="progress-table-sprint">
            <tr>
                <td class="date-sprint">
                    <p>{{sprint.startDate | date:'dd-MM-yyyy'}}</p>
                </td>
                <td style="width:50%">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{(sprint.completedHP/sprint.totalHP) * 100}}%" aria-valuemin="0"
                            aria-valuemax="100"></div>

                    </div>
                </td>
                <td class="date-sprint">
                    <p>{{sprint.endDate | date:'dd-MM-yyyy'}}</p>
                </td>
            </tr>
        </table>
    </section>


<br/>
    <section id="dashboard-sprint">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Métricas y gráficos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <tr>
                  <td class="cell-statistics-project">{{sprint.totalTasks}} tareas</td>
                  <td class="cell-statistics-project">{{sprint.completedTasks}} tareas hechas</td>
                </tr>
                <tr>
                  <td class="cell-statistics-project">{{sprint.totalHP}}<a matTooltip="Puntos de Historia"> ph </a>totales</td>
                  <td class="cell-statistics-project">{{sprint.completedHP}}<a matTooltip="Puntos de Historia"> ph </a>realizados</td>
                </tr>
            </mat-expansion-panel>
        </mat-accordion>

    </section>


    <div class="tableBoard">
        <h5>Tableros<mat-icon (click)="createBoard(sprint)" matListIcon>add</mat-icon></h5>
        <div *ngFor="let t of board">
            <mat-list-item>
                <p mat-line>{{t.name}} <mat-icon (click)="openBoard(t.id)" mat-list-icon>view_week</mat-icon><mat-icon (click)="editBoard(t,sprint)" matListIcon>create</mat-icon><mat-icon (click)="deleteBoard(t)" matListIcon>delete</mat-icon> </p>
            </mat-list-item>
        </div> 
    </div>

</div>