<div id="main">


    <section id="forms">
        <p> name: {{doc.name}} | type: {{doc.type}} </p>

        <div *ngIf="doc.type == 'DAILY'">
            <mat-form-field class="form-field-project-create">
                <input value={{name}} (keyup)="dailyName(nameHTML.value)" placeholder="Nombre y Apellidos" matInput #nameHTML>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{done}} (keyup)="dailyDone(doneHTML.value)" placeholder="¿Qué he hecho hoy?" matInput #doneHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{todo}} (keyup)="dailyTodo(todoHTML.value)" placeholder="¿Qué voy a hacer hoy?" matInput #todoHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{problem}} (keyup)="dailyProblem(problemHTML.value)" placeholder="¿Qué problemas he tenido?" matInput #problemHTML></textarea>
            </mat-form-field>
        </div>

        <div *ngIf="doc.type == 'RETROSPECTIVE'">
            <mat-form-field class="form-field-project-create">
                <textarea value={{good}} (keyup)="restrospectiveGood(goodHTML.value)" placeholder="¿Qué he hecho bien?" matInput #goodHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{bad}} (keyup)="restrospectiveBad(badHTML.value)" placeholder="¿Qué se ha hecho mal?" matInput #badHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{improvement}} (keyup)="restrospectiveImprovement(improvementHTML.value)" placeholder="¿Como podemos mejorar?" matInput #improvementHTML></textarea>
            </mat-form-field>
        </div>

        <div *ngIf="doc.type == 'PLANNING_MEETING'">
            <mat-form-field class="form-field-project-create">
                <textarea value={{entrega}} (keyup)="planningEntrega(entregaHTML.value)" placeholder="¿Qué puede entregarse en el Incremento resultante del Sprint que comienza?" matInput #entregaHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{conseguir}} (keyup)="planningConseguir(conseguirHTML.value)" placeholder="¿Cómo se conseguirá hacer el trabajo necesario para entregar el Incremento?" matInput #conseguirHTML></textarea>
            </mat-form-field>
        </div>
        
        <div *ngIf="doc.type == 'REVIEW'">
            <mat-form-field class="form-field-project-create">
                <input value={{done}} (keyup)="reviewDone(doneHTML.value)" oninput="" placeholder="Elementos de la Lista de Producto se han “Terminado”" matInput #doneHTML>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{noDone}} (keyup)="reviewNoDone(nodoneHTML.value)" placeholder="Cuales no se han “Terminado”" matInput #nodoneHTML></textarea>
            </mat-form-field>
    
            <mat-form-field class="form-field-project-create">
                <textarea value={{rePlanning}} (keyup)="reviewRePlanning(replanningHTML.value)" placeholder="Planificación futura" matInput #replanningHTML></textarea>
            </mat-form-field>
        </div> 
        
    </section>
    
    <section id="pdf-container">
        <div id="pdf">
            <div *ngIf="doc.type == 'DAILY'" class="paper">
                <h2>{{doc.name}} | {{doc.type}}</h2>
                <p>Nombre y apellidos: {{name}}</p>
                <br>

                <h4>¿Qué he hecho hoy?</h4>
                <p>{{done}}</p>
                <br>

                <h4>¿Qué voy a hacer hoy?</h4>
                <p>{{todo}}</p>
                <br>

                <h4>¿Qué problemas he tenido?</h4>
                <p>{{problem}}</p>
            </div>

            <div *ngIf="doc.type == 'RETROSPECTIVE'" class="paper">
                <h2>{{doc.name}} | {{doc.type}}</h2>
                <br>

                <h4>¿Qué se ha hecho bien?</h4>
                <p>{{good}}</p>
                <br>

                <h4>¿Qué se ha hecho mal?</h4>
                <p>{{bad}}</p>
                <br>

                <h4>¿Como podemos mejorar?</h4>
                <p>{{improvement}}</p>
            </div>
 
            <div *ngIf="doc.type == 'PLANNING_MEETING'" class="paper">
                <h2>{{doc.name}} | {{doc.type}}</h2>
                
                <p>¿Qué puede entregarse en el Incremento resultante del Sprint que comienza?:</p> 
                <p>{{entrega}}</p>
                <br>

                <h4>¿Cómo se conseguirá hacer el trabajo necesario para entregar el Incremento?</h4>
                <p>{{conseguir}}</p>
                <br>
            </div>

            
            <div *ngIf="doc.type == 'REVIEW'" class="paper">
                <h2>{{doc.name}} | {{doc.type}}</h2>

                <h4>Elementos de la Lista de Producto se han “Terminado”</h4>
                <p>{{done}}</p>
                <br>

                <h4>Cuales no se han “Terminado”</h4>
                <p>{{noDone}}</p>
                <br>

                <h4>Planificación futura</h4>
                <p>{{rePlanning}}</p>
                <br>

            </div> 

            <button mat-flat-button (click)="generarPDF()">Descargar en PDF</button>
        </div>
    </section>
</div>
