<form style="text-align: center;">
  <h4>
    {{
      idAlert != undefined ? "Añade alertas a tu Sprint" : "Modifica tu alerta"
    }}
  </h4>
  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Titulo de la Alerta</mat-label>
      <select matNativeControl [formControl]="alertTitle">
        <option value="Sprint Review">Sprint Review</option>
        <option value="Sprint Retrospective">Sprint Retrospective</option>
        <option value="Medium-Sprint Review">Medium-Sprint Review</option>
        <option value="Medium-Sprint Retrospective"
          >Medium-Sprint Retrospective</option
        >
      </select>
      <mat-hint>Seleccione el tipo de alerta</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Fecha de la Alerta</mat-label>
      <input matInput readonly [formControl]="alertDate" [matDatepicker]="alertPicker" />
      <mat-datepicker-toggle
        matSuffix
        [for]="alertPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #alertPicker
        (closed)="
          beforeTodayDateValidator(alertDate); validDateInSprint(alertDate)
        "
      >
      </mat-datepicker>
      <mat-error *ngIf="alertDate.invalid">{{
        getErrorMessageAlertDate()
      }}</mat-error>
    </mat-form-field>
  </div><br/>
  <div *ngIf="idAlert == undefined">
    <button
      id="add-alert"
      mat-button
      (click)="addAlert()"
      matTooltip="Añadir una alerta"
      [disabled]="!allowAdd()"
    >
      Añadir
    </button>
  </div>
  <mat-chip-list style="display: flex; justify-content: center;" *ngIf="idAlert == undefined">
    <mat-chip
      *ngFor="let alert of alerts"
      (removed)="remove(alert)"
      matTooltip="Quitar alerta"
    >
      {{ alert.title }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</form>
<br />
<br />
<div id="buttons-dialog">
  <button
    id="cancel-dialog"
    mat-button
    (click)="onNoClick()"
    matTooltip="Cancelar creación de la alerta."
  >
    Cancelar
  </button>
  <button
    id="save-dialog"
    mat-button
    (click)="onSaveClick()"
    cdkFocusInitial
    [disabled]="!validForm()"
    matTooltip="Guardar alerta."
  >
    Guardar
  </button>
</div>
