#save-dialog {
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}

#save-dialog:hover {
    background-color: #18A1F0;
}


#cancel-dialog {
    background-color: #e62e2e;
    color: white;
    margin-right: 1em;
}

#cancel-dialog:hover {
    background-color: #db0f0f;
}


#add-alert{
    background-color: rgb(110, 117, 121);
    color: white;
    cursor: pointer;
}
    
#add-alert:hover {
    background-color: rgb(38, 40, 41);
}
