<section id="main">

    <section id="header-PB">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a (click)="navigateTo('teams')">{{project.team.name}}</a></li>
              <li class="breadcrumb-item"><a (click)="openProject()">{{project.name}}</a></li>
              <li style="display: flex; align-items: center;" class="breadcrumb-item active" aria-current="page">Product Backlog</li>
            </ol>
        </nav>

    </section>

    <section id="tasks">

        <div id="task-menu">
            <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <div id="button-container">
                <button class="button-sprints" (click)="openCreateTask()" mat-flat-button>Nueva tarea</button>
            </div>
        </div>

        <div id="task-list">

        <mat-accordion>
            <mat-expansion-panel *ngFor="let task of project.tasks | filter:searchValue">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <div class="tasks-buttons-container">
                            <img src="../assets/edit.webp" width="auto" height="15" class="d-inline-block align-top task-list-buttons" alt="" (click)="openEditTask(task)">
                            <img src="../assets/bin.webp" width="auto" height="15" class="d-inline-block align-top task-list-buttons" alt="" (click)="deleteTask(task)">
                            <img src="../assets/card.webp" *ngIf="task.estimatedPoints == 0 && task.finalPoints == 0" width="auto" height="17" class="d-inline-block align-top task-list-buttons" alt="" (click)="openEstimateTask(task.id)">
                            <img src="../assets/move.webp" *ngIf="task.finalPoints != 0 && task.column == undefined" width="auto" height="15" class="d-inline-block align-top task-list-buttons" alt="" (click)="openSelectSprint(task.id)">
                        </div>
                        <span class="separator">|</span>
                        <span>{{task.title}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                    <p class="task-description">{{task.description}}</p>
                    <div class="task-points">
                        <p>Tu estimación: {{task.estimatedPoints}} PH</p>
                        <p>Estimación total: {{task.finalPoints}} PH</p>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    </section>

</section>
