<section id="main">

    <section id="header">

        <div>
            <h3><a href="" (click)="openTeam(project.team)">{{project.team.name}}</a> > <a href=""  (click)="openProject(project)">{{project.name}}</a> > Product Backlog</h3>
        </div>

    </section>

    <section id="tasks">

        <div id="task-menu">
            <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <div id="button-container">
                <button class="button-sprints" (click)="openCreateTask()" mat-flat-button>Nueva tarea</button>
            </div>
        </div>

        <div id="task-list">
            <ul class="list-group list-group-flush">
                <mat-list-item class="task-row" *ngFor="let task of project.tasks | filter:searchValue">

                    <li class="list-group-item d-flex justify-content-between align-items-center task-row">
                        <span>{{task.title}}</span>
                        <span>{{task.points!=0?task.points + ' PH':'Sin estimación'}}</span>
                        <div>
                            <button *ngIf="task.column != undefined" mat-raised-button (click)="openSelectSprint(task.id)">Mover</button>
                            <span *ngIf="task.column != undefined ">Ya esta en un sprint</span>
                        </div>
                        
                        <div>
                            <mat-icon matListIcon (click)="openEditTask(task)">create</mat-icon> 
                            <mat-icon matListIcon (click)="deleteTask(task)">delete</mat-icon> 
                        </div>
                    </li>

                </mat-list-item>
            </ul>
        </div>

    </section>

</section>
