mat-sidenav-container {
    height: 100%;
}

#principal{
    overflow: auto;
    height: 100%;

}

#principal::-webkit-scrollbar{
    z-index: top;
}


/* Menu horizontal */

#menu-horizontal{
    height: 70px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: 5235235235;
    justify-content: space-between;
}

#menu-horizontal-buttons-left{
    display: flex;
    align-items: center;
}

#menu-horizontal-buttons-left > button:focus{
    outline:0 !important;
}

#menu-horizontal-buttons-right{
    display: flex;
    align-items: center;
}

#menu-horizontal-buttons-right > img{
    margin-right: 20px;
    cursor: pointer;
}

#logo{
    cursor: pointer;
}

/* ------------------------------- */



/* Menu vertical izquierdo*/

mat-sidenav {
    height: 100%;
    width: 15em;
    background-color: white;
}

#menu-vertical-izquierdo{
    width: 15em;
}

.ul{
    padding: 8%;
}

.ul > li > a{
    cursor: pointer;
}

/* ------------------------------- */

/* Menu vertical derecho */

/* ------------------------------- */


/* @media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
} */

