<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="over">
    <a mat-list-item *ngFor="let item of routes" (click)="navigateTo(item.route); sidenav.close();">
      <mat-icon>{{item.icon}}</mat-icon> {{item.title}}
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navbar navbar-dark menu">
      <a class="logo">
        <img (click)="sidenav.toggle()" src="../assets/menu-navbar.png" width="30" height="30" class="d-inline-block align-top menu-icon" alt="">
        <img src="../assets/logo-2.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="navigateTo('teams')">
      </a>
      <img *ngIf="notifications==false" src="../assets/notification.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="sidenavnotifications.toggle()">
      <img *ngIf="notifications==true" src="../assets/notification-color.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="sidenavnotifications.toggle()">
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #sidenavnotifications mode="over" position="end" [fixedInViewport]="true" [fixedTopGap]="70">
    <app-notifications></app-notifications>

  </mat-sidenav>


</mat-sidenav-container>
