#main-personal-data{
    padding: 2% 15%;
}

#personal{
    padding: 1%;
}

#boton-volver {
    background-color: #e62e2e;
    color: white;
    text-align: center;
    margin-right: 1em;
}

#boton-volver:hover {
    background-color: #db0f0f;
}

#exportar-datos{
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}

#exportar-datos:hover{
    background-color: #18A1F0;
}
