<div id="main-personal-data">    
    <div id="output">
        <section name="html" id="personal">
            
            <h4>Datos Personales</h4>
            <div id="html">
                <p>Correo electrónico: {{personal.email}}</p>
                <p>Nombre: {{personal.name}}</p>
                <p>Apellidos: {{personal.surnames}}</p>
                <p>GitUser: {{personal.gitUser}}</p>
                <p>Nick: {{personal.nick}}</p>
                <p>URL de la foto: {{personal.photo}}</p>
            </div>
        </section>
        <section id="personal">
            <h4>Lista de tus tareas</h4>
            <div *ngFor="let task of personal.tasks">
                <p>Título: {{task.title}}</p>
                <p>Descripción: {{task.description}}</p>
                <p>Puntos de historía: {{task.points}}</p><br>
            </div>
        </section>
        <section id="personal">
            <h4>Lista de los equipos en los que estás</h4>
            <div *ngFor="let team of personal.teams">
                <p>{{team}}</p><br>
            </div>
            
            
        </section>
        <div style="display: flex; justify-content: start; margin-top: 30px;">
            <button id="boton-volver" (click)="backToProfile()" mat-flat-button>Cancelar</button>
            <button id="exportar-datos" (click)="saveAsProject()" mat-flat-button>Exportar datos</button>
        </div>
    </div>
</div>