.colum {
    width: 33%;
    float: left;
    border: 1px;
}

.nameColum {
    text-align: center;
    padding-bottom: 5px;
}

.nombreTarea {
    text-align: center;
    border-radius: 6em;
    border-style: solid;
    border: 10px;
}

.p {
  border-style: solid;
}