#main{
  padding: 3% 10%;
}

/* Header */


#header-board{
  min-width: 10em;
  width: 100%;
  height: auto;
}

#header-board > nav > ol{ 
  background-color: #fafafa;
}

#header-board > nav > ol > li > a{ 
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
}

#header-board > nav > ol > li{ 
  font-size: 18px;
}


/* Tableros */

#boards-container{
  display: flex;
  justify-content: space-evenly;
}

.cdk-drop-list {
  width: 30%;
  height: 36em;
  padding: 2%;
  overflow-y: auto;
  border: 1px;
  border-radius: 0.5em;
  background-color: white;
}

.nameColum {
  text-align: center;
  padding-bottom: 5px;
}

.nombreTarea {
  border-radius: 0.5em;
  border-style: solid 2px;
  border: 10px;
  padding: 20px 5%;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgb(248, 248, 248);
  font-size: 14px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.p {
  text-align: center;
}

.user-img{
  border-radius: 50%;
}

@media only screen and (max-width: 800px)  {
  #main{
    padding: 3% 5%;
  }
  
}

@media only screen and (max-width: 600px)  {
  #main{
    padding: 3% 1%;
  }
  
}

@media only screen and (max-width: 500px)  {
  #main{
    padding: 3% 0%;
  }

  #boards-container{
    display: flex;
    justify-content: center;
  }

  h4 {
    font-size: 1rem;
  }
  
}