{{message}}

<div cdkDropListGroup>
  <div *ngFor="let colum of board.columns"
    cdkDropList
    [cdkDropListData]="colum.name"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <div class="nameColum">
      <h2>{{colum.name}}</h2>
    </div>

    <div class="nombreTarea" class="example-box" *ngFor="let tarea of colum.tasks" cdkDrag>
      <div class="nombreTarea">

        <p>{{tarea.title}}</p>
        <div class="roundImage"*ngFor="let user of tarea.users">
          <img alt="userPhoto{{user.nick}}" *ngIf="user.photo !== undefined && user.photo !== '' " src="data:image/jpg;base64,{{user.photo}}" />
          <img alt="{{user.nick}}" *ngIf="user.photo == undefined || user.photo == '' " />
        </div>
        <mat-icon (click)="addUsers(tarea)">add</mat-icon>
      </div>
      
    </div>

  </div>
</div>
    