#main-project {
    padding: 3% 10%;
}

/* Header component */

#header-project{
    min-width: 10em;
    width: 100%;
    height: auto;
}

#header-project > nav > ol{ 
    background-color: #fafafa;
}

#header-project > nav > ol > li > a{ 
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}

#header-project > nav > ol > li{ 
    font-size: 18px;
}
#header-project > nav > ol > li> img{ 
    margin-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}


#header-sprint > nav > ol > li > a:hover{ 
    font-size: 18px;
    color: #1976d2;
}

/*-----------------*/


/* Descripcion and product backlog */

#description-proyect{
    margin-bottom: 20px;
    padding: 1% 2%;
}

#description-proyect > p{
    width: 100%;
    text-align: justify;
}

#description-proyect > div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.button-sprints {
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}
.button-sprints:hover {
    background-color: #18A1F0;
}



/* More info proyect */

.sprints-project{
    padding: 2% 2%; 
    background-color: white;

}

.info-sprint-project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title-progress-project{
    width: 70%;
}

.name-sprint-project {
    display: flex;
    align-items: center;
}

.name-sprint-project > a{
    cursor: pointer;
}

.name-sprint-project > img{
    cursor: pointer;
}


.name-sprint-project > a:hover{
    text-decoration: underline;
}

.progress-project{
    width: 100%;
}

.statistics-sprint-project {
    width: 15em;
}

.table-statistics-project{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.cell-statistics-project {
    padding: 0.1%;
    font-size: smaller;
}


/*------------------------------*/



