<div id="main-profile">
    <section>
            <div>
                <h3>Edita tu perfil {{profile.nick}}</h3> 
            </div>
    </section>

    <div id="formulario">
    <section>
        <form id="form-profile">

            <mat-form-field class="form-field-profile">
                <img src="{{profile.photo}}" width="100" height="100" alt="">
                <input #photoImput matInput placeholder="Photo" [formControl]="photo">
                <mat-hint>{{ photoImput.value?.length || 0 }}/255</mat-hint>
                <mat-error *ngIf="photo.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-profile">
                <input #nameImput matInput placeholder="Nombre" [formControl]="name">
                <mat-hint>{{ nameImput.value?.length || 0 }}/25</mat-hint>
                <mat-error *ngIf="name.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-profile">
                <input #nickImput matInput placeholder="Nick" [formControl]="nick">
                <mat-hint>{{ nickImput.value?.length || 0 }}/25</mat-hint>
                <mat-error *ngIf="nick.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-profile">
                <input #surnamesImput matInput placeholder="Surnames" [formControl]="surnames">
                <mat-hint>{{ surnamesImput.value?.length || 0 }}/25</mat-hint>
                <mat-error *ngIf="surnames.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-profile">
                <input #gitUserImput matInput placeholder="User Git" [formControl]="gitUser">
                <mat-error *ngIf="gitUser.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>

            <mat-icon (click)="changePassStateLast()">remove_red_eye</mat-icon>
            <mat-form-field class="form-field-profile">
                <input #lastPassImput [type]="showPassLast?'text':'password'" matInput placeholder="Contraseña Antigua" [formControl]="lastPass">
                <mat-error *ngIf="lastPass.invalid">{{ getErrorLastPass() }}</mat-error>
            </mat-form-field>

            <mat-icon (click)="changePassState()">remove_red_eye</mat-icon>
            <mat-form-field class="form-field-profile">
                <input #newPassImput [type]="showPass?'text':'password'" matInput placeholder="Contraseña Nueva" [formControl]="newPass">
                <mat-error *ngIf="newPass.invalid">{{ getErrorMessageName() }}</mat-error>
            </mat-form-field>
            
            <br/> <br/>
            
            <div id="buttons-profile">
                <button id="cancel-profile" (click)="cancelEditProfile()" mat-flat-button>Cancelar</button>
                <button id="save-profile" type="submit" [disabled]="!validForm()" (click)="editProfile()" (click)="openSnackBar(message, close)" mat-flat-button>Guardar</button>
            </div>

        </form>
    </section>
</div>

<div id="personal">
    <mat-accordion>
        <mat-expansion-panel id="panel">
          <mat-expansion-panel-header id="cabecera">
            <mat-panel-title>
              Ajustes Personales
            </mat-panel-title>
            <mat-panel-description>
              Más información de tu ajustes
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Interior del desplegable -->

          <button id="datos-personales" (click)="openPersonalData()" mat-flat-button>Ver datos personales</button>
          <button id="borrar-datos" (click)="anonimize()" mat-flat-button>Borrar datos personales</button>

        </mat-expansion-panel>
      </mat-accordion>
</div>

</div>
