#main-profile {
    padding: 3% 25%;
}

#main-profile > section{
    padding-bottom: 1%;
}

#save-profile {
    background-color: #38B6FF;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#save-profile:hover {
    background-color: #18A1F0;
}

#cancel-profile {
    background-color: #e62e2e;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#cancel-profile:hover {
    background-color: #db0f0f;
}

#delete-profile {
    background-color: #471313;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#delete-profile:hover {
    background-color: #471313;
}

.form-field-profile{
    width: 100%;
}

#buttons-profile{
    display: flex;
    justify-content: left;
}

#formulario{
    padding-bottom: 5%;
    display: block;
}

/* Datos personales */

#panel{
    width: 100%;
}

#cabecera{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.panel-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones > button{
    background-color: #38B6FF;
    color: white;
    margin-left: 1em;
}

.botones > button:hover{
    background-color: #18A1F0;
}

mat-icon:hover {
  cursor: pointer;
}

#update-box-button {
  background-color: #38B6FF;
  color: white;
  margin-bottom: 1em;
}

#update-box-button:hover {
  background-color: #18A1F0;
}
