#main-profile {
    padding: 3% 25%;
}

#main-profile > section{
    padding-bottom: 1%;
}

#save-profile {
    background-color: #38B6FF;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#save-profile:hover {
    background-color: #18A1F0;
}

#cancel-profile {
    background-color: #e62e2e;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#cancel-profile:hover {
    background-color: #db0f0f;
}

#delete-profile {
    background-color: #471313;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#delete-profile:hover {
    background-color: #471313;
}

.form-field-profile{
    width: 100%;
}

#buttons-profile{
    display: flex;
    justify-content: left;
}

#formulario{
    padding-bottom: 5%;
    display: block;
}

/* Datos personales */

#personal {

}

#datos-personales{
    background-color: black;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#datos-personales:hover{
    background-color: rgb(63, 63, 70);
}

#exportar-datos{
    background-color: black;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#exportar-datos:hover{
    background-color: rgb(63, 63, 70);
}

#borrar-datos{
    background-color: black;
    color: white;
    margin-left: 3%;
    padding: 4px 9px;
    text-align: center;
}

#borrar-datos:hover{
    background-color: rgb(63, 63, 70);
}