<div>

  <div>
    <mat-form-field>
      <mat-label>Mensaje</mat-label>
      <textarea matInput [formControl]="messageFormControl"></textarea>
      <mat-error *ngIf="messageFormControl.invalid">error</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let user of users"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(user)">
        {{user.nick}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Añadir usuarios"
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
        {{user.nick}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

    <div id="buttons-dialog">
      <button id="cancel-dialog" mat-button (click)="onNoClick()">
        Cancelar
      </button>
      <button id="save-dialog" mat-button (click)="onSaveClick()" cdkFocusInitial>
        Guardar
      </button>
    </div>

</div>
