<div id="main-teams">

<section>

  <div id="buttons-project-container">
    <button class="button-project" mat-flat-button (click)="createTeam()">Crear Equipo</button>
  </div>

  <div *ngFor="let team of teams">
    <div class="team-title">
      <h4>{{team.name}}</h4>
      <img src="../assets/edit.png" width="auto" height="20" class="d-inline-block align-top" alt="" (click)="editTeam(team)">
      <img src="../assets/add-user.png" width="auto" height="25" class="d-inline-block align-top" alt="" (click)="openDialogInvite(team.id)">
      <img src="../assets/bin.png" width="auto" height="20" class="d-inline-block align-top" alt="" (click)="deleteTeam(team.id)">
    </div>

    <div class="team-proyects">

      <mat-list-item *ngFor="let project of team.projects">

        <mat-card class="project-card">

          <p class="project-card-title">{{project.name}}</p>

          <mat-card class="project-card-none">

            <img src="../assets/board.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openBoard(project.id)">
            <img src="../assets/report.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openSprint(project)">
            <img src="../assets/project.png" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openProject(project)">

          </mat-card>

        </mat-card>

      </mat-list-item>

      <img src="../assets/more.png" width="auto" height="25" class="d-inline-block align-top" alt="" (click)="createProject(team)">

    </div>
  </div>


</section>

</div>
