<!-- <div class="general">

  <section>
    <div id="header-sprints-project">
      <div id="title-sprint">
        <h1 class="TM">Teams</h1>
      </div>
      <div id="buttons-project">
        <button class="but" mat-flat-button (click)="createTeam()">Crear Equipo</button>
      </div>
    </div>
  </section>

  <div class="equiposGeneral">

    <mat-list-item class="team" *ngFor="let team of teams">
      <div class="first-div">

        <h3 matLine>
          <mat-icon matListIcon>people</mat-icon> {{team.name}}
          <mat-icon (click)="editTeam(team)" matListIcon>create</mat-icon>
          <mat-icon (click)="createProject(team)" matListIcon>add</mat-icon>
          <mat-icon matListIcon (click)="deleteTeam(team.id)">delete</mat-icon>
          <mat-icon matListIcon (click)="openDialogInvite(team.id)">person_add</mat-icon>
        </h3>
      </div>
      <div>
        <mat-list-item *ngFor="let project of team.projects">

          <mat-card class="second-div">

            <p class="title">{{project.name}}</p>

            <mat-card class="div2">

              <mat-icon matListIcon (click)="openBoard(project.id)">table_chart</mat-icon>
              <mat-icon matListIcon (click)="openSprint(project)">insert_chart</mat-icon>
              <mat-icon matListIcon (click)="openProject(project)" >work</mat-icon>

            </mat-card>

          </mat-card>

        </mat-list-item>

      </div>

    </mat-list-item>

  </div>

</div> -->



<!-- <input #box>
<p>{{box.value}}</p> -->


<textarea (keyup)="pasarPagina()" (keyup)="onKey(box.value)" (keyup.enter)="insertEnter(box.value)" matInput #box></textarea>

<div class="paper" id="paper">

    Pagina 1 /nsfsafs
    {{value}}
</div>

<button mat-flat-button (click)="createTeam()">Página Anterior</button>
<button mat-flat-button (click)="createTeam()">Siguiente Página</button>
<button mat-flat-button (click)="generarPDF()">Descargar en PDF</button>

<style>

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);

  padding: 30px;
  width:500px;
  min-height: 500px;
  height: auto;
  margin: 2%;
  word-wrap: break-word;
}

.paper > p{

}

</style>