<div id="main-teams">

<section>

  <div id="buttons-project-container">
    <button class="button-project" mat-flat-button (click)="createTeam()">Crear Equipo</button>
  </div>

  <div *ngFor="let team of teams">
    <div class="team-title">
      <h4>{{team.name}}</h4>
      <img *ngIf="team.isAdmin" src="../assets/edit.webp" width="auto" height="20" class="d-inline-block align-top" alt="" (click)="editTeam(team)">
      <img *ngIf="team.isAdmin" src="../assets/add-user.webp" width="auto" height="25" class="d-inline-block align-top" alt="" (click)="openDialogInvite(team.id)">
      <img *ngIf="team.isAdmin" src="../assets/bin.webp" width="auto" height="20" class="d-inline-block align-top" alt="" (click)="deleteTeam(team.id)">
      <img src="../assets/leave.webp" width="auto" height="25" class="d-inline-block align-top" alt="" matTooltip="Salir del equipo" (click)="leaveTeam(team.id)">

    </div>

    <div class="team-proyects">

      <mat-list-item *ngFor="let project of team.projects">

        <mat-card class="project-card">

          <p class="project-card-title">{{project.name}}</p>

          <mat-card class="project-card-none">

            <img src="../assets/board.webp" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openBoard(project.id)">
            <img src="../assets/report.webp" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openSprint(project)">
            <img src="../assets/project.webp" width="auto" height="30" class="d-inline-block align-top" alt="" (click)="openProject(project)">

          </mat-card>

        </mat-card>

      </mat-list-item>

      <img *ngIf="validationCreateTeam[team.id] && team.isAdmin " src="../assets/more.webp" width="auto" height="25" class="d-inline-block align-top" alt="" (click)="createProject(team)">

    </div>
  </div>


</section>

</div>
