<div id="register-main">
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper>

    <mat-step [stepControl]="signUpFormGroup"  state="signUp">
      <form [formGroup]="signUpFormGroup">
        <ng-template matStepLabel style="display: none;">Registro</ng-template>

        <mat-form-field class="register-input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailControl" required (change)="validEmailValidator()">
          <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="register-input">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="passwordControl" required (input)="confirmPasswordControl.updateValueAndValidity()" [type]="showPass? 'text' : 'password'">
          <mat-icon matSuffix (click)="changePassState()">remove_red_eye</mat-icon>
          <mat-error>{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="register-input">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput formControlName="confirmPasswordControl" required (input)="confirmPasswordControl.updateValueAndValidity()" [type]="showConfirmPass ? 'text' : 'password'">
          <mat-icon matSuffix (click)="changeConfirmPassState()">remove_red_eye</mat-icon>
          <mat-error>{{getErrorMessageConfirmPassword()}}</mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Siguiente*</button><br/>
          <small>*Haciendo click en "siguiente" acepta los <a (click)="navigateTo('terms-of-use')" target="_blank" style="color: lightskyblue; cursor: pointer;">términos y condiciones de la plataforma</a></small>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="selectPlanFormGroup" state="selectPlan">
        <form [formGroup]="selectPlanFormGroup">
            <ng-template matStepLabel>Seleccione un plan</ng-template>
            <table id="card-table">
            <tr class="plan-table">
              <td>
                  <div class="plan-card">
                    <div class="title-plan-card">
                      <h4>Basic</h4>
                      <mat-divider></mat-divider>
                    </div>
                    <div class="img-plan-card">
                      <img src="../../assets/archives.webp" alt="basic-plan">
                    </div>
                  <div class="price-plan-card">

                  </div>
                </div>
              </td>
              <td>
                <div class="plan-card">
                  <div class="title-plan-card">
                    <h4>Standard</h4>
                    <mat-divider></mat-divider>
                  </div>
                  <div class="img-plan-card">
                    <img src="../../assets/analysis.webp" alt="standard-plan">
                  </div>
                  <div class="price-plan-card">

                  </div>
                </div>
              </td>
              <td>
                <div class="plan-card">
                  <div class="title-plan-card">
                    <h4>Pro</h4>
                    <mat-divider></mat-divider>
                  </div>
                  <div class="img-plan-card">
                    <img src="../../assets/creativity.webp" alt="pro-plan">
                  </div>
                  <div class="price-plan-card">

                  </div>
                </div>
              </td>
            </tr>
            <!-- Numero de proyectos -->
            <tr class="feature-plan-table">
              <td>
                <p>Posibilidad de gestionar 1 proyecto</p>
              </td>
              <td>
                <p>Gestión de hasta 3 proyectos</p>
              </td>
              <td>
                <p>Posibilidad de gestionar un número ilimitado de proyectos</p>
              </td>
            </tr>
            <!-- Numero de tableros -->
            <tr class="feature-plan-table">
              <td>
                <p>1 tablero</p>
              </td>
              <td>
                <p>2 tableros por proyecto</p>
              </td>
              <td>
                <p>Tableros ilimitados por proyecto</p>
              </td>
            </tr>
            <!-- Sprints -->
            <tr class="feature-plan-table">
              <td>
                <p>1 Sprint de 30 días de duración</p>
              </td>
              <td>
                <p>Sprints ilimitados</p>
              </td>
              <td>
                <p>Sprints ilimitados</p>
              </td>
            </tr>
            <!-- Planitllas de documentos -->
            <tr class="feature-plan-table">
              <td>
                <p>Plantillas de los diferentes documentos utilizados en la metodología SCRUM</p>
              </td>
              <td>
                <p>Plantillas de los diferentes documentos utilizados en la metodología SCRUM</p>
              </td>
              <td>
                <p>Plantillas de los diferentes documentos utilizados en la metodología SCRUM</p>
              </td>
            </tr>
            <!-- Graficos -->
            <tr class="feature-plan-table">
              <td>
                <p></p>
              </td>
              <td>
                <p>Gráficos Burn up y Burn down</p>
              </td>
              <td>
                <p>Gráficos Burn up y Burn down</p>
              </td>
            </tr>
            <!-- Avisos -->
            <tr class="feature-plan-table">
              <td>
                <p></p>
              </td>
              <td>
                <p></p>
              </td>
              <td>
                <p>Automatización de avisos (reuniones, fin de Sprints, etc.)</p>
              </td>
            </tr>
            <!-- Sincronizacion con github -->

            <tr class="price-plan-table">
              <td>
                <mat-divider></mat-divider>
                <h3>0€</h3>
                <p>por usuario al mes</p>
              </td>
              <td>
                 <mat-divider></mat-divider>
                <h3>1€</h3>
                <p>por usuario al mes</p>
              </td>
              <td>
                <mat-divider></mat-divider>
                <h3>2€</h3>
                <p>por usuario al mes</p>
              </td>
            </tr>
            <tr class="Select-plan-table">
                <td>
                  <mat-radio-button class="plan-radio-button" value="BASIC" name="selected-plan" [checked]="true" [required]="true" (change)="initConfig()">
                    Selecccionar plan Basic
                  </mat-radio-button>
                </td>
                <td>
                  <mat-radio-button class="plan-radio-button" value="STANDARD" name="selected-plan" [required]="true" (change)="initConfig()">
                    Selecccionar plan Standard
                  </mat-radio-button>
                </td>
                <td>
                  <mat-radio-button class="plan-radio-button" value="PRO" name="selected-plan" [required]="true" (change)="initConfig()">
                    Selecccionar plan Pro
                  </mat-radio-button>
              </tr>
          </table>

            <div>
              <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext [disabled]="!notNullSelectedPlan()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step state="personal">
        <ng-template matStepLabel>Pago</ng-template>
        <div id="welcome-message-register">
          <h2>¡Hola {{emailControl.value}}!</h2>
          <p *ngIf="selectedPlan == 'BASIC'">Ha seleccionado el plan "Basic" que es gratuito. El registro se completará cuando pulse el boton de guardar.</p>
          <p *ngIf="selectedPlan == 'STANDARD'">Ha seleccionado el plan "Standard" que cuesta 1€ al mes. Podrás disfrutar de todas las funcionalidades cuando el pago se efectúe con éxito.</p>
          <p *ngIf="selectedPlan == 'PRO'">Ha seleccionado el plan "Pro" que es 2€ al mes. Cuando el pago se efectúe con éxito, tendrás acceso a todas las funcionalidades ¡Enhorabuena 😎!</p>
        </div><br/>
        <div *ngIf="selectedPlan != 'BASIC'" id="paypal-button-register" style="width: 50%; text-align: center;">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button *ngIf="selectedPlan == 'BASIC'" (click) = "saveBasicPlan()">Guardar</button>
        </div>
    </mat-step>



    <!-- Icon overrides. -->
    <ng-template matStepperIcon="signUp">
      <mat-icon>how_to_reg</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="selectPlan">
      <mat-icon>shopping_cart</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="personal">
      <mat-icon>payment</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>

</div>
